@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2 {
  font-family: "Popins", sans-serif;
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
}

.button {
  text-decoration: none;
}

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  min-height: 10vh;
  max-height: 20vh;
  margin-bottom: 100px;
}

@media (min-width: 1024px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.header__button {
  color: #ff8fd8;
  border: #ff8fd8 1px solid;
  border-radius: 999px;
  padding: 3px 15px;
  font-size: 13px;
}

@media (min-width: 1024px) {
  .header__button:hover {
    background-color: #ff8fd8;
    color: white;
  }
}

.header-logo {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 200px;
}

.header-logo__img {
  width: 100%;
}

.welcom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.welcom-section__title {
  width: 90%;
  margin-bottom: 20px;
}

.welcom-section__text {
  font-size: 13px;
  color: #00252e;
  width: 90%;
  margin-bottom: 40px;
}

@media (min-width: 700px) {
  .welcom-section__text {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .welcom-section__text {
    width: 37%;
  }
}

.welcom-section__button {
  border-radius: 999px;
  font-size: 13px;
  color: white;
  background-color: #ff52bf;
  padding: 10px 25px;
  margin-bottom: 80px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1024px) {
  .welcom-section__button:hover {
    background-color: #ff8fd8;
  }
}

.welcom-section__charts-img-wrapper {
  width: 80%;
  margin-bottom: 100px;
}

.welcom-section__charts-img {
  width: 100%;
}

@media (min-width: 700px) {
  .welcom-section__tile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
}

.welcom-section__tile-left {
  margin-bottom: 50px;
}

.welcom-section__tile-right {
  margin-bottom: 100px;
}

.welcom-section__communities-img {
  width: 15%;
  -webkit-transform: translateX(-225%);
          transform: translateX(-225%);
}

.welcom-section__messages-img {
  width: 15%;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
}

.welcom-section__communities-title {
  font-size: 60px;
}

.welcom-section__span {
  color: #00252e;
}

.article-wrapper {
  margin-bottom: 150px;
}

.article-img-wrapper--grow {
  padding-top: 50px;
  background-color: #f5faff;
}

.article-grow-desktop-bg-top {
  display: none;
}

@media (min-width: 700px) {
  .article-grow-desktop-bg-top {
    display: block;
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .article-grow-desktop-bg-top {
    top: -100px;
  }
}

.article-grow-mobile-bg-top {
  width: 100%;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

@media (min-width: 700px) {
  .article-grow-mobile-bg-top {
    display: none;
  }
}

.article-grow-desktop-bg-bottom {
  display: none;
}

@media (min-width: 700px) {
  .article-grow-desktop-bg-bottom {
    display: block;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .article-grow-desktop-bg-bottom {
    bottom: -100px;
  }
}

.article-grow-mobile-bg-bottom {
  width: 100%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (min-width: 700px) {
  .article-grow-mobile-bg-bottom {
    display: none;
  }
}

.article-users-desktop-bg-top {
  display: none;
}

@media (min-width: 700px) {
  .article-users-desktop-bg-top {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: -70px;
  }
}

@media (min-width: 1024px) {
  .article-users-desktop-bg-top {
    top: -100px;
  }
}

.article-users-desktop-bg-bottom {
  display: none;
}

@media (min-width: 700px) {
  .article-users-desktop-bg-bottom {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -70px;
  }
}

@media (min-width: 1024px) {
  .article-users-desktop-bg-bottom {
    bottom: -100px;
  }
}

.article-users-mobile-bg-top {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  width: 100%;
}

@media (min-width: 700px) {
  .article-users-mobile-bg-top {
    display: none;
  }
}

.article-users-mobile-bg-bottom {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  width: 100%;
}

@media (min-width: 700px) {
  .article-users-mobile-bg-bottom {
    display: none;
  }
}

.article-img-wrapper--users {
  background-color: #f5faff;
  padding-top: 50px;
}

.article--users {
  background-color: #f5faff;
}

@media (min-width: 700px) {
  .article-wrapper--grow {
    margin-top: 150px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background-color: #f5faff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 300px;
  }
}

@media (min-width: 700px) {
  .article-wrapper--flowing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 300px;
  }
}

@media (min-width: 700px) {
  .article-wrapper--users {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background-color: #f5faff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.article {
  width: 100%;
  text-align: center;
}

.article__title {
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transform: translateY(-10px 10px);
          transform: translateY(-10px 10px);
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

@media (min-width: 700px) {
  .article__title {
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.article__text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  padding-bottom: 30px;
  opacity: 0;
  -webkit-transform: translateY(-10px 10px);
          transform: translateY(-10px 10px);
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

@media (min-width: 700px) {
  .article__text {
    width: 80%;
    text-align: left;
  }
}

.article--grow {
  background-color: #f5faff;
}

.article-img {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  opacity: 0;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.show-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.register-article {
  margin-bottom: 100px;
}

.register-article__title {
  width: 90%;
  margin: 0 auto 30px;
}

.register-article__button {
  background-color: #ff52bf;
  padding: 5px 20px;
  border-radius: 999px;
  font-size: 13px;
  color: white;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1024px) {
  .register-article__button:hover {
    background-color: #ff8fd8;
  }
}

.footer-bg-img {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  width: 100%;
}

@media (min-width: 700px) {
  .footer-bg-img {
    display: none;
  }
}

.footer-bg-img-desktop {
  display: none;
}

@media (min-width: 700px) {
  .footer-bg-img-desktop {
    display: block;
    width: 100%;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.footer {
  padding: 50px 50px 50px 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00252e;
  color: white;
}

@media (min-width: 700px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-left: 50px;
    padding-top: 100px;
  }
}

.footer__logo-img {
  width: 50%;
}

@media (min-width: 700px) {
  .footer__logo-img {
    width: 40%;
  }
}

.footer__company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__text {
  font-size: 13px;
  line-height: 1.8;
  margin: 20px 0 30px 0;
}

@media (min-width: 700px) {
  .footer__text {
    width: 80%;
  }
}

.footer__phone-number {
  font-size: 13px;
  margin-bottom: 20px;
}

.footer__email-addres {
  font-size: 13px;
}

.footer__phone-number-img {
  width: 5%;
  margin-right: 20px;
}

.footer__email-img {
  width: 5%;
  margin-right: 20px;
}

.newsletter {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .newsletter {
    padding-left: 100px;
  }
}

.newsletter__title {
  margin-bottom: 30px;
}

.newsletter__text {
  line-height: 1.8;
  font-size: 13px;
  margin-bottom: 30px;
}

@media (min-width: 700px) {
  .newsletter__text {
    width: 80%;
  }
}

.newsletter__input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
}

@media (min-width: 1024px) {
  .newsletter__input {
    width: 50%;
    margin-right: 20px;
  }
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .newsletter__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.newsletter__button {
  min-width: 40%;
  max-width: 200px;
  color: white;
  border: none;
  background-color: #ff52bf;
  padding: 10px 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 1024px) {
  .newsletter__button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    min-width: 20%;
  }
}

@media (min-width: 1024px) {
  .newsletter__button:hover {
    background-color: #ff8fd8;
    cursor: pointer;
  }
}

.socials {
  margin-top: 40px;
  font-size: 25px;
}

.socials__button {
  margin-right: 10px;
  color: white;
}

@media (min-width: 1024px) {
  .socials__button:hover {
    color: blue;
  }
}
/*# sourceMappingURL=style.css.map */