@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

$headings-font: 'Popins', sans-serif;
$body-fonts:'Open Sans', sans-serif;

$Primary-Pink: hsl(322, 100%, 66%);
$Primary-Light-Pink: hsl(321, 100%, 78%);
$Primary-Light-Red: hsl(0, 100%, 63%);

$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: $headings-font;
    font-weight: 700;
}

body {
    font-family: $body-fonts;
}

.button {
    text-decoration: none;

}

.wrapper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 10vh;
    max-height: 20vh;
    margin-bottom: 100px;
    @media (min-width: 1024px) {
        padding-left: 50px;
        padding-right: 50px;
    }
    &__button {
        color: $Primary-Light-Pink;
        border: $Primary-Light-Pink 1px solid;
        border-radius: 999px;
        padding: 3px 15px;
        font-size: 13px;
    }
    &__button:hover {
        @media (min-width: 1024px) {
            background-color: $Primary-Light-Pink;
            color: white;
        }
    }
}

.header-logo {
    flex-basis: 40%;
    max-width: 200px;
    &__img {
        width: 100%;
    }
}



.welcom-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  &__title {
      width: 90%;
      margin-bottom: 20px;
  }
  &__text {
      font-size: 13px;
      color: $Very-Dark-Cyan;
      width: 90%;
      margin-bottom: 40px;
      @media (min-width: 700px) {
        width: 50%;
    }
    @media (min-width: 1024px) {
        width: 37%;
    }
  }
  &__button {
    border-radius: 999px;
    font-size: 13px;
    color: white;
    background-color: $Primary-Pink;
    padding: 10px 25px;
    margin-bottom: 80px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5)
  }
  &__button:hover {
    @media (min-width: 1024px) {
        background-color: $Primary-Light-Pink;
    }
}
  &__charts-img-wrapper {
      width: 80%;
      margin-bottom: 100px;
  }
  &__charts-img {
      width: 100%;
  }
  &__tile-wrapper {
      @media (min-width: 700px) {
          display: flex;
          justify-content: space-evenly;
          width: 100%;

      }
  }
  &__tile-left {
      margin-bottom: 50px;
     
  }
  &__tile-right {
    margin-bottom: 100px;
    
}
  &__communities-img {
    width: 15%;
    transform: translateX(-225%);
  } 
  &__messages-img {
    width: 15%;
    transform: translateX(-250%);
  }
  &__communities-title {
      font-size: 60px;
  }
  &__span {
    color: $Very-Dark-Cyan;
  }
}

.article-wrapper {
    margin-bottom: 150px;
}

.article-img-wrapper--grow {
    padding-top: 50px;
    background-color: $Very-Pale-Blue;
}

.article-grow-desktop-bg-top {
    display: none;
    @media (min-width: 700px) {
        display: block;
        position: absolute;
        top: -70px;
        left: 0;
        width: 100%;
    }
    @media (min-width: 1024px) {
        top: -100px;
    }
}

.article-grow-mobile-bg-top {
    width: 100%;
    transform: translateY(10px);
    @media (min-width: 700px) {
        display: none;
    }
}

.article-grow-desktop-bg-bottom {
    display: none; 
    @media (min-width: 700px) {
        display: block;
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 100%;
    }
    @media (min-width: 1024px) {
        bottom: -100px;
    }
}

.article-grow-mobile-bg-bottom {
    width: 100%;
    transform: translateY(-10px);
    @media (min-width: 700px) {
        display: none;
    }
}

.article-users-desktop-bg-top {
    display: none;
    @media (min-width: 700px) {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: -70px;
    }
    @media (min-width: 1024px) {
        top: -100px;
    }
}

.article-users-desktop-bg-bottom {
    display: none;
    @media (min-width: 700px) {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -70px;
    }
    @media (min-width: 1024px) {
        bottom: -100px;
    }
}



.article-users-mobile-bg-top {
    transform: translateY(15px);
    width: 100%;
    @media (min-width: 700px) {
        display: none;
    }
}

.article-users-mobile-bg-bottom {
    transform: translateY(-15px);
    width: 100%;
    @media (min-width: 700px) {
        display: none;
    }
}

.article-img-wrapper--users {
    background-color: $Very-Pale-Blue;
    padding-top: 50px;
}

.article--users {
    background-color: $Very-Pale-Blue;
}

.article-wrapper--grow {
    @media(min-width: 700px) {
        margin-top: 150px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        background-color: $Very-Pale-Blue;
        align-items: center;
        margin-bottom: 300px;
    }
}

.article-wrapper--flowing {
    @media(min-width: 700px) {
        display: flex;
        align-items: center;
        margin-bottom: 300px;
    }
}

.article-wrapper--users {
    @media(min-width: 700px) {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        background-color: $Very-Pale-Blue;
        align-items: center;
    }
}

.article {
    width: 100%;
    text-align: center;
    &__title {
        @media (min-width: 700px){
            text-align: left;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            
        }
        margin-bottom: 30px;
        opacity: 0;
        transform: translateY(-10px 10px);
        transition: ease-out 1s;
    }
    &__text {
        @media (min-width: 700px){
            width: 80%;
            text-align: left;
        }
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        padding-bottom: 30px;
        opacity: 0;
        transform: translateY(-10px 10px);
        transition: ease-out 1s;
    }
}



.article--grow {
    background-color: $Very-Pale-Blue;
    
}

.article-img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    opacity: 0;
    transform: translate(10px, 10px);
    transition: ease-out 1s;
}

//animate articles img & text
.show-up {
    opacity: 1;
    transform: translate(0, 0);
}

.register-article {
    margin-bottom: 100px;
    &__title {
        width: 90%;
        margin: 0 auto 30px;
    }
    &__button {
        background-color: $Primary-Pink;
        padding: 5px 20px;
        border-radius: 999px;
        font-size: 13px;
        color: white;
        box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.5);
    }
    &__button:hover {
        @media (min-width: 1024px) {
            background-color: $Primary-Light-Pink;
        }
    }
}

.footer-bg-img {
    transform: translateY(10px);
    width: 100%;
    @media (min-width: 700px) {
        display: none;
    }
}

.footer-bg-img-desktop {
    display: none;
    @media (min-width: 700px) {
        display: block;
        width: 100%;
        transform: translateY(5px);
    }
}

.footer {
    padding: 50px 50px 50px 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $Very-Dark-Cyan;
    color: white;
    @media (min-width: 700px) {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 50px;
        padding-top: 100px;
    }
    &__logo-img {
        width: 50%;
        @media (min-width: 700px) {
            width: 40%;
        }
    }
    &__company-info {
        display: flex;
        flex-direction: column;
    }
    &__text {
        font-size: 13px;
        line-height: 1.8;
        margin: 20px 0 30px 0;
        @media (min-width: 700px) {
            width: 80%;
        }
    }
    &__phone-number {
        font-size: 13px;
        margin-bottom: 20px;
    }
    &__email-addres {
        font-size: 13px;
    }
    &__phone-number-img {
        width: 5%;
        margin-right: 20px;
    }
    &__email-img {
        width: 5%;
        margin-right: 20px;
    }
}

.newsletter {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
        padding-left: 100px;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__text {
        line-height: 1.8;
        font-size: 13px;
        margin-bottom: 30px;
        @media (min-width: 700px) {
            width: 80%;
        }
    }
    &__input {
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 30px;
        outline: none;
        border: none;
        border-radius: 5px;
        @media (min-width: 1024px) {
            width: 50%;
            margin-right: 20px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
            flex-direction: row;
        }
    }
    &__button {
        min-width: 40%;
        max-width: 200px;
        color: white;
        border: none;
        background-color: $Primary-Pink;
        padding: 10px 20px;
        align-self: flex-end;
        @media (min-width: 1024px) {
            align-self: flex-start;
            min-width: 20%;
        }
        &:hover {
            @media (min-width: 1024px){
                background-color: $Primary-Light-Pink;
                cursor: pointer;
            }
        }
    }
}

.socials {
    margin-top: 40px;
    font-size: 25px;
    &__button {
        margin-right: 10px;
        color: white;
    }
    &__button:hover {
        @media (min-width: 1024px){
            color: blue;
        }
    }
}



